* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sp-
}

body {
  font-family: "Montserrat", serif;
}

.debug {

  .top {
    background-color: grey;

    .sidebar {
      background-color: blue;
    }

    main {
      background-color: red;

      .header {
        background-color: aqua;
      }
    }
  }

  .bottom {
    background-color: green;
  }
}


.top {
  display: flex;

  .sidebar {
    min-width: 50px;
  }

  main {
    height: calc(100vh - 90px);

    .header {
      height: 90px;
    }
  }
}

.bottom {
  height: 90px;
}


/*************************************************
    MOBILE LARGE
 *************************************************/
 @media screen and (min-width:576px) {

    .top {

      .sidebar {
        min-width: 230px;
      }
    }
 }