* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sp-
}

body {
  font-family: "Montserrat", serif;
}

.debug {

  .top {
    background-color: grey;

    .sidebar {
      background-color: blue;
    }

    main {
      background-color: red;

      .header {
        background-color: aqua;
      }
    }
  }

  .bottom {
    background-color: green;
  }
}


.top {
  display: flex;

  .sidebar {
    width: 50px;
  }

  main {
    width: 100%;
    height: calc(100vh - 90px);

    .header {
      height: 90px;
    }
  }
}

.bottom {
  height: 90px;
}