* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sp-black: #080b12;
  --sp-dark-grey: #6b6b6b;
  --sp-light-grey: #d2d2d2;
  --sp-text-hover:#ededed;
  --sp-mark-green: #adff2f;
}

body {
  font-family: "Montserrat", serif;
}

.debug {

  .top {
    background-color: grey;

    main {
      background-color: red;

      .header {
        background-color: aqua;
      }
    }
  }

  .bottom {
    background-color: green;
  }
}


.top {
  display: flex;

  .sidebar {
    background-color: var(--sp-black);
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0;

    .logo {
      width: 28px;
    }

    nav {
      padding: 1rem 0;
      width: 100%;


      li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.3rem 0;
      }

      .icon {
        color: var(--sp-dark-grey);
        width: 22px;
      }

      a {
        color: var(--sp-dark-grey);
        text-decoration: none;
        font-weight: 600;
        display: none;

        &:hover {
          color: var(--sp-text-hover);
        }
      }

      #home {
        a {
          color: var(--sp-text-hover);
        }
      }
    }
  }

  main {
    width: 100%;
    height: calc(100vh - 90px);

    .header {
      height: 90px;
    }
  }
}

.bottom {
  height: 90px;
}


/*************************************************
    MOBILE LARGE
 *************************************************/
@media screen and (min-width:576px) {

  .top {

    .sidebar {
      min-width: 230px;
      align-items: start;

      .logo {
        content: url(./img/logo.svg);
        width: 128px;
        padding: 1rem 0 0 1rem;
      }

      nav {

        li {
          justify-content: start;
          padding-left: 1rem;

          a {
            display: block;
          }
        }

        #home {
          border-left: 1px solid var(--sp-mark-green);
        }
      }
    }
  }
}